* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  .carousel-item {
    flex: 0 0 auto;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  .carousel-item img {
    width: 100%;
    height: 50vh;
  }
  .carousel-item h3 {
    color: black;
  }
  
  .nav-item a:hover {
    background-color: white;
    color: black;
  }
  
  /* .container tr .btn:hover {
    background-color: #906f6f;
    color: black;
  } */